.nav {
  position: fixed;
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px 50px;
  left: 0px;
  bottom: 0px;
  border-top: 5px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  font-size: 20px;
}

.nav .nav__list-link {
  position: relative;
}

.nav .nav__badge {
  position: absolute;
  top: -10px;
  right: -9px;
  color: white;
  background-color: #dc5d46;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  font-size: 15px;
}

@keyframes show_navbar {
  0% {
    transform: translateY(80px);
  }
  100% {
    transform: none;
  }
}

.nav {
  transform: translateY(80px);
  animation: show_navbar 0.5s ease-out forwards;
  /* forward는 100%에 해당하는 내용을 유지하라는 명령이다.
  위의 경우에서 forward를 없애면, animation이 시행된 이후,
  translateY(80px) 상태로 초기화되어서 navbar가 다시 사라진 상태가
  default가 된다 */
  animation-delay: 0.5s;
}
